/* Header.css */

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    padding-left: 5px;
    width: 100%;
    background-color: #D4CDB0;
  }
  
  .navbar .btnLink {
    text-decoration: none;
    vertical-align: middle;
    padding: 10px;
    margin: 0 10px;
    color: #2C2521;
  }
  
  .t-decoration {
    font-style: italic;
    text-decoration:none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    height: 30px;
  }
  
  li {
    margin: auto 0;
    padding: 3px;
  }